<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='text-center'>
                <%= image_tag('logo.png', style: 'width: 84px; height: 84px; border-radius: 84px;') %>
              </div>
              <h2 class='text-center bold'>Sign up</h2>
              <hr>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",
                  class: 'form-control', required: 'required', placeholder: 'Digite o email' %>
                </div>

                <div class="field">
                  <%= f.label :password, 'Senha' %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password",
                  class: 'form-control', required: 'required', placeholder: 'Digite a senha' %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, 'Confirmar Senha' %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",
                  class: 'form-control', required: 'required', placeholder: 'Confirme a senha' %>
                </div>

                <div class="actions"> <br />
                  <%= f.submit "Sign up", class: 'btn btn-primary btn-lg',
                  style: 'width: 100%;' %>
                </div>
              <% end %>

              <div class='panel-body'>
                <div class='text-center'>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
