<div class="job">
	<div class='panel panel-default'>
		<div class='panel-body'>
			<div class='col-md-2'>
				<div class="jumbotron" style='height: 125px;'></div>
			</div>

			<div class='col-md-8'>
				<h4 class='bold'><%= link_to job.title, job_path(job) %></h4>

				<%= link_to '', class: 'pull-right',
					style: 'top: 0px; margin-top: -40px; font-size: 22px;' do %>
					<i class="far fa-bookmark"></i>
				<% end %>

				<ul class="list-unstyled list-inline">
					<li class='bold'>
						<i class="fas fa-briefcase"></i>
						<%= job.user.profile.name %>
					</li>
					<li class='bold'>
						<i class="fas fa-map-marker-alt"></i>
						<%= job.modality %>
						<span>(<%= job.location %>)</span>
					</li>
				</ul>
				<p><%= truncate(job.description, length: 156) %></p>
			</div>

			<div class="col-md-2">
				<ul class="list-unstyled">
					<li>
						<%= job.created_at.strftime("%M/%Y") %>
					</li>
					<li>
						<span class='badge'>
							<%= job.modality %>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>