<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='text-center'>
                <%= image_tag('logo.png', style: 'width: 84px; height: 84px; border-radius: 84px;') %>
              </div>
              <h2 class='text-center bold'>Log in</h2>
              <hr>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email, 'Email' %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",
                  class: 'form-control', required: 'required' %>
                </div>

                <div class="field">
                  <%= f.label :password, 'Senha' %><br />
                  <%= f.password_field :password, autocomplete: "current-password",
                  class: 'form-control', required: 'required' %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field"><br />
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, 'Lembrar-me' %>
                  </div>
                <% end %>

                <div class="actions"><br />
                  <%= f.submit "Log in", class: 'btn btn-primary btn-lg top',
                  style: 'width: 100%;' %>
                </div>
              <% end %>
            </div>
            <div class='panel-footer'>
              <%= render "devise/shared/links" %>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
