<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Portal Fronteiriço | <%= yield :title %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller.controller_name %>">
    <%= render 'layouts/header' %>  
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
